.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Chat Container */
.chat_Container { 
  position: absolute;
  bottom: 24%;
  right: 5%;
  border-radius: 6px;
  height: 400px;
  overflow: hidden scroll;
  border: 1px solid #5c5959;
  padding-bottom: 60px;
  width: 380px;
}

.chat_Header
{
  padding: 1px;
  background: rgb(7, 7, 142);
  color: #fff;
}
.chat_Container > div { 
  position: relative;
}

.chat_Box
{ 
  height: 100%;
  overflow-y: auto;
}

.chat_Flex
{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: -webkit-fill-available;
}

form {
  height: 40px;
  border: 1px solid #5c5959;
  position: absolute;
  bottom: 0;
  width: 358px;
  display: flex;
  z-index: 1;
  width: 100%;
  
}

form input 
{ 
  width: -webkit-fill-available;
  border: none;
  outline: none;
  height: 100%;

}

form button{
  border: none;
  height: 100%;
  border: 1px solid #5c5959;
  background: #ffff;
  padding: 10px;
  cursor: pointer;
}
form button:hover{
  background: #282c34;
  color: #fff;
  transition: background 250ms ease-in, color 250ms ease-in;
}

.response_Flex{
  display: flex;
  flex-direction: column;
}

.bot_Messages{
  position: relative;
  min-height: 32px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(203, 214, 226);
  background-color: rgb(234, 240, 246);
  color: rgb(66,91,118);
  align-self: flex-start;
  padding: 8px 16px;
  border-radius: 0px 8px 8px;
  max-width: 284px;
  
}
.user_Messages{
  position: relative;
  min-height: 32px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(203, 214, 226);
  background-color: rgb(234, 240, 246);
  color: rgb(66,91,118);
  align-self: flex-end;
  padding: 8px 16px;
  border-radius: 0px 8px 8px;
  max-width: 284px;
  
}

